html, body {
    width: 320px;
    height: 600px;
    border: none;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    display: flex;
}

html.no-transition, body.no-transition {
    transition: none !important;
}

#main-window {
    width: 320px;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}
  
.toggle-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    box-sizing: border-box;
}

.toggle_label {
    width: 100px;
    height: 40px;
    margin-right: 8px;
    margin-left: 5px;
    margin-top: 10px;
    position: relative;
    display: block;
    background: #f5f4f4;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.2), inset 0px -5px 15px rgba(255,255,255,0.2);
    cursor: pointer;
    transition: 0.3s;
}

.toggle_label::after {
    content: "";
    width: 37px;
    height: 35px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: var(--toggle-bg, linear-gradient(180deg,#ffcc89,#e09017));
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.toggle_label.no-transition, .toggle_label.no-transition::after {
    transition: none !important;
}

.toggle_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.toggle_input:checked + .toggle_label {
    background: #242424;
}
.toggle_input:checked + .toggle_label::after {
    left: 80px;
    transform: translateX(-100%);
    background: var(--toggle-bgm, linear-gradient(180deg,#777,#3a3a3a));
}

.toggle_label:active::after {
    width: 45px;
}

.toggle_label svg {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 8px;
    z-index: 100;
}
.toggle_label svg.sun {
    left: 9px;
    fill: #fff;
    transition: 0.3s;
}
.toggle_label svg.moon {
    left:49px;
    fill: #7e7e7e;
    transition: 0.3s;
}
.toggle_input:checked + .toggle_label svg.sun path{
    fill:#7e7e7e;
}
.toggle_input:checked + .toggle_label svg.moon path{
    fill:#fff;
}

#languages-popup {
    display: none;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
    overflow: hidden;
    align-content: start;
    justify-content: center;
}

.languagesWrapper {
    transition: transform 0.3s ease;
    display: inline-block;
    pointer-events: auto;
}

.languagesWrapper:hover {
    transform: scale(1.15);
}

.flag-circle {
    width: 94%;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #aa9e9e;
    cursor: pointer;
    animation: pop-in 0.6s ease forwards;
    transition: transform 0.3s ease;
}

.flag-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#languages-close-popup {
    margin-top: 20px;
    margin-left: 60px;
    grid-column: span 3;
    padding: 10px;
}

#baseTheme-popup {
    display: none;
    height: 270px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
    overflow: hidden;
    align-content: start;
    justify-content: center;
}

.baseColor {
    width: 100%;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    animation: pop-in 0.6s ease forwards;
    transition: transform 0.3s ease;
}

.baseColor.selected::before,
.baseColor.selected::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
}

.baseColor.selected::before {
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    background: var(--dot-color, rgba(0, 0, 0, 0.3));
}

.baseColor.selected::after {
    inset: 2px;
    border: 3px solid var(--border-color, rgba(0, 0, 0, 0.4));
}

.baseColor .column-text {
    display: flex;
    gap: 4px;
    text-align: center;
    line-height: 1;
    z-index: 1;
}

.baseColor.selected .column-text {
    gap: 24px;
}

.col {
    display: flex;
    flex-direction: column;
}

.buttonsBaseThemePoppup {
    grid-column: span 3; 
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 88%;
    text-align: center;
}

#color-preview {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

#color-previews {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 219px;
    height: 154px;
    margin-top: -2px;
    border-radius: 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#color-previews::-webkit-color-swatch-wrapper {
    border-radius: 12px;
}

#color-previews::-webkit-color-swatch {
    border-radius: 12px;
}
  
.slider-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider label {
    width: 110px;
    text-align: left;
    margin-left: 2px;
    font-weight: 500;
    font-size: 14px;
}
  
input[type="range"] {
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, var(--slider-color, #dcc788) 0%, #ffffff 100%);
    outline: none;
}  

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #c2b89b;  
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.4); 
}

#color-code {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    width: 100%;
    margin-top: 8px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#color-code input {
    width: 95px; 
    height: 30px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 5px;
    text-align: center;
}

#color-code input:focus {
    border-color: #dcc788;
    outline: none;
}

#color-code input::placeholder {
    color: #888;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#apply-btn {
    margin-top: 10px;
    background-color: #dcc788;
    color: white;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.3s, background-color 0.3s;
}
  
#apply-btn:hover {
    transform: scale(1.1);
    background-color: #cab063;
}

.popup .icon-btn {
    width: 41px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #dcc788;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.07s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.07s;
}

#history-color {
    margin-right: 2px;
    margin-bottom: 4px;
}

#history-color-popup {
    display: none;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 7px; 
    overflow: hidden;

    align-content: start;         
    justify-content: center;   
}

.colorWrapper {
    transition: transform 0.3s ease;
    display: inline-block;
    pointer-events: auto;
}

.colorWrapper:hover {
    transform: scale(1.15);
}

.color-box {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    animation: pop-in 0.6s ease forwards;
    transition: transform 0.3s ease;
}

.historyPopupButtons {
    grid-column: span 3; 
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

#reset-color {
    margin-left: 2px;
    margin-bottom: 4px;
}

#agree-reset-color-popup,
#agree-reset-themes-popup {
    height: 200px;
    overflow: hidden;
}

.agreePopupButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#resetThemeButtons {
    margin-top: 30px;
}

.popup-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.popup-text {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.4;
    margin-top: 8px;
}

#information, #languages, 
#baseTheme {
    margin-top: 10px;
    margin-right: 7px;
    width: 48px;
    height: 39px;
    background-color: #dcc788;
    border: none; 
    border-radius: 60px; 
    text-align: center;
    font-size: 30px;
    cursor: pointer; 
    transition: transform 0.3s, background-color 0.3s;
}

#information:hover {
    transform: scale(1.1);
    background-color: #cab063;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

#agreeOvelay, #historyOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f4f4;
    padding: 20px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 220px; 
    height: 430px; 

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.popup p {
    overflow-y: auto;
}

.popup button:not(.icon-btn) {
    width: 100px;
    height: 35px;
    background-color: #dcc788;
    border-radius: 65px; 
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer; 

    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.close-popup-button:hover {
    transform: scale(1.1);
    background-color: #cab063;
}

.close-popup-button:active {
    transform: scale(1.03);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.on-off_label {
    width: 100px;
    height: 40px;
    margin-right: 5px;
    margin-top: 10px;
    position: relative;
    display: block;
    background: #f5f4f4;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.2), inset 0px -5px 15px rgba(255,255,255,0.2);
    cursor: pointer;
    transition: 0.3s;
}

.on-off_label::after {
    content: "";
    width: 40px;
    height: 35px;
    position: absolute;
    top: 2.5px;
    left: 4px;
    background: linear-gradient(180deg,#a44c3a,#8a3535);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.on-off_label.no-transition, .on-off_label.no-transition::after {
    transition: none !important;
}

.on-off_input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.on-off_input:checked + .on-off_label::after {
    left: 81.78px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#23541c,#215e22);
}

.on-off_label:active::after {
    width: 45px;
}

.on-off_label svg {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 5px;
    z-index: 100;
}
.on-off_label svg.off {
    left: 4px;
    fill: #fff;
    transition: 0.3s;
}
.on-off_label svg.on {
    left: 42px;
    fill: #7e7e7e;
    transition: 0.3s;
}
.on-off_input:checked + .on-off_label svg.off path{
    fill:#7e7e7e;
}
.on-off_input:checked + .on-off_label svg.on path{
    fill:#fff;
}

#mode-popup {
    width: 260px;
    height: 450px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.popup .mode {
    font-weight: bold;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.popup .mode:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.popup .mode:hover {
    background-color: #d9d9d9; 
    border-radius: 5px;
}

.selected-mode {
    background-color: #bfbfbf;
    border-radius: 5px;
}

#close-mode-popup {
    margin-top: 15px;
    margin-left: 4px;
}

.select-theme-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 15px;
}

.theme-input {
    height: 38px;
    width: 200px;
    text-align: center; 
    font-size: 18px;
    border: 1px solid black; 
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

#theme-popup {
    width: 260px;
    height: 450px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.popup .theme {
    font-weight: bold;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.popup .theme:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.popup .theme:hover {
    background-color: #d9d9d9; 
    border-radius: 5px;
}

.selected-theme {
    background-color: #bfbfbf;
    border-radius: 5px;
}

#close-theme-popup {
    margin-top: 15px;
    margin-left: 4px;
}

.arrow-btn {
    width: 40px;
    height: 35px;
    background-color: #dcc788;
    border: none; 
    border-radius: 65px; 
    text-align: center;
    font-size: 30px;
    cursor: pointer; 

    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.arrow-btn:hover {
    transform: scale(1.1);
    background-color: #cab063;
}

.arrow-btn:active {
    transform: scale(1.03);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.select-time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 23px;
}

.time-input {
    height: 38px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

#time-popup {
    width: 260px;
    height: 450px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.popup .time {
    font-weight: bold;
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.popup .time:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.popup .time:hover {
    background-color: #d9d9d9; 
    border-radius: 5px;
}

.selected-time {
    background-color: #bfbfbf;
    border-radius: 5px;
}

#close-time-popup {
    margin-top: 15px;
    margin-left: 4px;
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

#palette-popup {
    overflow: hidden;
}

#palette-btn {
    margin-top: 15px;
}

.button-in-palette-popup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    gap: 19px;
    margin-top: 8px;
}

#confirm-popup {
    height: 208px;
    overflow: hidden;
}

#close-confirm-popup {
    margin-top: 20px;
}

.highlight-target {
    position: relative;
    z-index: 1001; 
    transition: box-shadow 0.3s, transform 0.2s;
}

.highlight-target:hover {
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

.highlight-group {
    position: relative;
    transition: box-shadow 0.3s, transform 0.2s;
    z-index: 1001;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
}

.highlight-body {
    position: relative;
    z-index: 1001; 
    transition: box-shadow 0.3s, transform 0.2s;
}

.highlight-body:hover {
    box-shadow: inset 0 0 10px 12px rgba(255, 255, 255, 0.8);
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#upload-popup {
    overflow: hidden;
}

.upload-btn {
    width: 118.17px;
    font-weight: bold;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #dcc788;
    margin-right: 13px;

    transition: transform 0.3s, background-color 0.3s;
}

.upload-btn:active {
    transform: scale(0.97);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.upload-btn-text {
    position: relative; 
    color: #fff;
}

.upload-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: var(--before-color, #cab063);
    transition: width 0.3s;
    border-radius: 10rem;
    pointer-events: none;
    transform-origin: right;
}

.upload-btn::after {
    content: '';
    position: absolute;
    inset: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: transparent;
    pointer-events: none;
}

.upload-btn:hover::before {
    width: 100%;
}

.name-text-example-block, .brace, 
.end-brace, .start-brace, .final-brace  {
    text-align: justify;
}

.name-text-example-block, .end-brace {
    margin-left: 19px;
}

.start-brace, .final-brace {
    margin-left: 2px;
}

.brace {
    margin-left: 36px;
}

.text-example-block {
    text-align: justify;
    margin-left: 55px;
}

#close-upload-popup {
    margin-top: 9px;
}

#drop-zone {
    width: 100%;
    height: 87%;
    border: 2px dashed #aaa;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#drop-zone.dragover {
    background-color: #dcdcdc;
    border-color: #888;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.drag-and-drop-text,
.or-text {
    margin: 5px 0;
    font-weight: bold;
    color: #333;
}

#upload-file-button, #close-drag-and-drop-popup {
    width: 120px;
    height: 36px;
    background-color: #dcc788;
    border: none;
    border-radius: 65px;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.list-check-btn {
    width: 118.17px;
    font-weight: bold;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1.03rem;
    letter-spacing: 0.35rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #dcc788;
    margin-left: 13px;

    transition: transform 0.3s, background-color 0.3s;
}

.list-check-btn:active {
    transform: scale(0.97);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.list-check-btn-text {
    position: relative;
    color: #fff;
}

#list-window {
    width: 100%;
}

.clickable-text {
    pointer-events: auto;
    position: relative;
    z-index: 1;
}

.list-check-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--before-color, #cab063);
    transition: width 0.3s;
    border-radius: 10rem;
    pointer-events: none;
    transform-origin: left;
}

.list-check-btn::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 10rem;
    background-color: transparent;
    pointer-events: none;
}

.list-check-btn:hover::before {
    width: 100%;
}

.horizontal-line-first {
    border: none;
    width: auto;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.horizontal-line-second {
    border: none;
    width: auto;
    height: 2px;
    background-color: black;
    margin-top: 20px
}

.center-container {
    height: 275px;
    max-width: 99%;
    left: 0.2%;
    width: 99%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 0px 0px;
}

.word-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.word-in-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.word {
    font-size: 40px;
    font-weight: bold;
    word-break: break-word;        
    overflow-wrap: break-word;     
    white-space: normal;           
    overflow: hidden;              
}

.translate-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputTranslate {
    position: absolute;
    width: 60%;
    height: 34px;
    left: 17%;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    font-size: 16px;
}

.translate {
    width: 100%; 
    max-width: 100%; 
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word; 
    opacity: 0; 
    pointer-events: none; 
    /* transition: opacity 0.2s ease-in-out; */
}
  
.inputTranslate:hover {
border: 2px solid lightgrey;
box-shadow: 0px 0px 20px -17px;
}

.inputTranslate:active {
transform: scale(0.95);
}

.inputTranslate:focus {
border: 2px solid grey;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.inputTranslate.error {
    border: 1.5px solid red;
    animation: shake 0.4s ease-in-out;
}

.word-container.show-translate .inputTranslate {
    opacity: 0;
    pointer-events: none;
}

.word-container.show-translate .translate {
    opacity: 1;
    pointer-events: all;
}

.icon-container {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 21px;
}

.icon-btn {
    width: 41px;
    height: 37px;
    border: none;
    border-radius: 10px;
    background-color: #dcc788;
    cursor: pointer;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.icon-btn:hover {
    transform: scale(1.1);
    background-color: #cab063;
}

.icon-btn:active {
    transform: scale(1.03);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.theme-progress {
    margin-bottom: 32px;
    animation: pop-in 0.6s ease forwards;
    opacity: 0;
}

.theme-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    font-size: 17px;
    flex-direction: row-reverse;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.theme-row:hover {
    transform: scale(1.05);
}

.theme-icon {
    width: 48px;
    height: 48px;
}

.progress-bar-container {
    position: relative;
    background-color: #ddd;
    border-radius: 8px;
    height: 24px;
    overflow: hidden;
}

.progress-fill {
    background-color: #1DB954;
    height: 100%;
    width: 0%;
    transition: width 2s ease-in-out;
}

.progress-text-current,
.progress-text-end {
    position: absolute;
    top: 3px;
    font-size: 13px;
    font-weight: bold;
}

.progress-text-current {
    left: 12px;
    color: white;
}

.progress-text-end {
    right: 12px;
    color: black;
}

#allImagesForThemes-popup {
    display: none;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    overflow-y: auto;
    cursor: pointer;
}

#allImagesForThemes-popup .customImage {
    width: 100%; 
    height: auto; 
    animation: pop-in 0.6s ease forwards;
    transition: transform 0.3s ease;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.3);
    border-radius: 10px;
    border: 1px solid rgba(120, 120, 120, 0.2);
}

.imageWrapper {
    transition: transform 0.3s ease;
    display: inline-block;
    pointer-events: auto;
}

.imageWrapper:hover {
    transform: scale(1.15);
}

#close-allImagesForThemes-popup {
    grid-column: span 3;
    padding: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

@keyframes pop-in {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes scale-in {
    from { transform: scaleY(0); opacity: 0; }
    to { transform: scaleY(1); opacity: 1; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.pulse-animation {
    animation: pulse 1s infinite;
}

#Phonetic-voice-btn {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 16%;
    left: 36%;
    border: none;
    border-radius: 50%;
    background-color: #dcc788;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

#Phonetic-voice-btn:hover {
    transform: scale(1.1);
    background-color: #cab063;
}

#Phonetic-voice-btn img {
    width: 75%;
    height: auto;
    user-select: none;
    pointer-events: none;
}

#list-window {
    position: relative;
}

.vertical-center-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border: none;
    width: 2px;
    background-color: black;
    z-index: 1;
}

.horizontal-center-line {
    position: absolute;
    border: none;
    width: 330px;
    height: 2px;
    top: 38px;
    background-color: black;
    z-index: -1;
}

.header {
    display: flex;
    margin-left: 46px;
    gap: 85px;
    top: 3px;
    width: 100%;
    position: relative;
}

.head-word, .head-translate {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.all-words {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98%;
    max-height: 495px; 
    margin-top: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.all-words::-webkit-scrollbar {
    width: 6px;
}

.all-words::-webkit-scrollbar-thumb {
    background-color: #a7a5a5;
    border-radius: 10px;
    border: 2px solid #7e7e7e;
}

.new-learned-word {
    min-height: 80px;
    height: auto;
    display: flex;
    width: 100%;
    align-items: center;
    border-top: 1px solid var(--before-color, #afaf41);
    border-bottom: 1px solid var(--before-color, #afaf41);
}

.learned-word { 
    margin-left: 2px;
    width: 150px;
    color: #1a2e3b;
    font-weight: bold;
    font-size: 18px;
}

.learned-translate {
    width: 117px;
    margin-left: 14px;
    word-break: break-word;
    color: #1a2e3b;
    font-weight: bold;
    font-size: 18px;
}

#return-word-btn {
    width: 25px;
    height: 22px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.horizontal-second-center-line {
    position: absolute;
    border: none;
    width: 330px;
    height: 2px;
    background-color: black;
    z-index: -1;
}

.back-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    z-index: 2;
}

.return-btn {
    margin-top: 10px;
    font-weight: bold;
    align-self: flex-end;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
    
.return-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    z-index: -2;
}
    
.return-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: var(--before-color, #cab063);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.return-btn:hover:before {
    width: 100%;
}

